@media all and (min-width: 0em) {
  #side-bar-close {
    display: inline-block;
    position: fixed;
    height: calc(100% - 2em);
    left: calc(-70% - 2em);
    width: 70%;
    padding: 1em;
    transition: all .1s ease-in;
    z-index: 100;
  }
  
  #side-bar-open {
    display: inline-block;
    position: fixed;
    height: calc(100% - 2em);
    left: 0;
    width: 70%;
    padding: 1em;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all .1s ease-in;
    z-index: 100;
  }
  
  #menu-icon {
    position: absolute;
    cursor: pointer;
    right: -1.5em;
    font-size: 2em;
  }
}

@media all and (min-width: 30em) {
  #side-bar-close {
    left: calc(-50% - 2em);
    width: 50%;
  }
  
  #side-bar-open {
    width: 50%;
  }
}

@media all and (min-width: 40em) {
  #side-bar-close {
    left: calc(-35% - 2em);
    width: 35%;
  }
  
  #side-bar-open {
    width: 35%;
  }
}

@media all and (min-width: 60em) {
  #side-bar-close {
    left: calc(-25% - 2em);
    width: 25%;
  }
  
  #side-bar-open {
    width: 25%;
  }
}

@media all and (min-width: 85em) {
  #side-bar-close {
    left: calc(-20% - 2em);
    width: 20%;
  }
  
  #side-bar-open {
    width: 20%;
  }
}

@media all and (min-width: 100em) {
  #side-bar-close {
    left: calc(-15% - 2em);
    width: 15%;
  }
  
  #side-bar-open {
    width: 15%;
  }
}