.modal {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 1000;
}

.blur-bg {
  width: 100vw;
  min-height: 100vh;
  background-color:#060000;
  opacity: .5;
}

#close-modal {
  position: fixed;
  color: white;
  margin: 1em;
  font-size: 2em;
  cursor: pointer;
  top: 0;
  right: 0;
}

#modal-content-container {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  justify-content: center;
  z-index: 1001;
}

#modal-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}