#pl-sort-button {
  position: relative;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
  align-self: flex-end;
}

#pl-sort-button-label {
  padding: .5em
}

#pl-sort-selection-open {
  position: absolute;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  right: 0;
  top: 2em;
}

#pl-sort-selection-close {
  display: none;
}

.pl-sort-option {
  display: block;
  padding: .5em;
}

.pl-sort-option:hover, .pl-sort-option:hover * {
  background-color: #f04546;
  color: white
}

.pl-check-selected {
  float: right;
  color: #f04546
}

.pl-sort-order {
  padding: .5em;
}

.pl-sort-order:hover {
  color: white;
  background-color: #f04546;
  border-top: 2px solid #f04546;
  border-bottom: 2px solid #f04546;
}

.pl-sort-order-selected {
  padding: .5em;
  color: #f04546;
  border-top: 2px solid #f04546;
  border-bottom: 2px solid #f04546;
}