#category-posts-header {
  display: flex;
  flex-direction: row;
  width: calc(100% - 2em);
  background-color: #f04546;
  color: #fff2f4;
  padding: 1em;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#title {
  margin: 0px;
}

#add-post-button {
  position: absolute;
  cursor: pointer;
  right: 1em;
}