#category-posts-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: calc(100% - 2em);
  background-color: #f04546;
  color: #fff2f4;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.flex-placeholder {
  flex: 1
}

#title {
  flex: 1;
  text-align: center;
  margin: auto;
}

#add-post-button {
  flex: 1;
  text-align: right;
  cursor: pointer;
  margin: auto;
}