.post-item {
  width: calc(100% - 2em);
  padding: 1em 1em;
  margin: .5em;
  color: #350E16;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.post-update-button-group {
  text-align: right;
}

.post-update-button {
  margin: 0 .5em;
  cursor: pointer;
}

.post-vote-function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-vote-button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  padding: 2px;
  border-radius: 50%;
  color: white;
  background-color: #350E16;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.post-vote-button {
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.post-info {
  padding: 1em;
}

.post-title {
  text-decoration: none;
  color: inherit
}

.post-title > h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.post-vote-info-block {
  display: flex;
}

.post-detail {
  font-size: .8em
}

.profile-image {
  vertical-align: middle;
  border-radius: 50%;
}

.dot-separator {
  font-size: .7em;
  vertical-align: middle;
  margin: 0 1em;
}

/* Confirm message popup */
#confirm-delete-popup {
  margin-top: 1em;
  background-color: white;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#confirm-exit-popup {
  float: right;
  cursor: pointer;
}

#confirm-message {
  display: block;
  text-align: center;
}

#confirm-action-buttons {
  display: flex;
  justify-content: center;
}

#confirm-action-buttons > span{
  margin: 1em .5em 0em .5em;
  padding: .5em;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-action-buttons > #confirm-delete {
  color: white;
  background-color: #CA3D3D;
}