#category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff2f4;
}

#category-posts-header {
}

#posts-list {
  margin-top: 4em;
}

.menu-item {
  text-decoration: none;
  color: #350E16;
  display: block;
  cursor: pointer;
  text-align: center;
  height: 1em;
  padding: 1em;
  margin: 0;
}

.menu-item:hover {
  color: #FC5B5B;
}

.menu-item-selected {
  border-right: 2px solid #FC5B5B;
  color: #FC5B5B;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  height: 1em;
  padding: 1em;
  margin: 0;
}

#menu-item-logout {
  font-weight: 100;
  color: #E63131;
}

#menu-item-logout:hover {
  border-right: none;
}