#categories-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #333333;
  justify-content: center;
  align-items: center;
}

#category-container {
  border-radius: 1em;
  padding: 2em;
}

.category {
  max-width: 25em;
  color: #d3d3d3;
  cursor: pointer;
  padding: 1em;
  border-bottom: 1px solid #ffc9d3
}

#see-all {
  text-decoration: none;
  color: #f44268;
  border-bottom: 0px;
}