@media all and (min-width: 0em) {
  #add-post-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em;
    min-width: 40%;
    max-width: 100%;
  }

  .apf-post-input {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    border: 0px solid transparent;
    border-bottom: 2px solid #f04546;
    padding: 1em;
  }

  .apf-post-input:focus {
    outline-width: 0;
  }

  .apf-post-input:disabled {
    color: #8D8989;
    background-color: #E6E6E6;
  }
  
  #post-title {
    flex: 1;
    font-weight: 700;
  }

  #post-other-details {
    display: flex;
    justify-content: space-between;
  }
  
  #post-username {
    flex: 1;
  }
  
  #post-category {
    flex: 1;
  }
  
  #post-body {
    height: 10em;
    line-height: 1.5em;
    overflow-y: auto;
  }
  
  #post-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #post-buttons > * {
    color: black;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin: 1em;
    padding: 1em;
    min-width: 6em;
    cursor: pointer;
  }
  
  #post-close {
    color: #f04546;
  }
  
  #post-submit {
    color: #71B138;
  }
}

@media all and (min-width: 30em) {
  #add-post-form {
    margin-top: 1em;
  }
}